.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
}
.navbar li {
  list-style: none;
  margin-left: 20px;
}
.menu-bar {
  font-size: 1.7rem;
  color: var(--primary);
}

.nav-menu {
  background-color: var(--secondary);
  color: var(--primary);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  top: 10vh;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.menu-list {
  margin-left: 16px;
}
.navbar-ul {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  /* align-items: center; */
}
.nav-text {
  list-style: none;

  margin: 20px;
  font-size: 18px;
}
.nav-text a {
  text-decoration: none;
  color: var(--primary);
}
.menu-toggle {
  display: flex;
  height: 8vh;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  left: 0;
}
